#about-us img {
  max-width: 200px;
  max-height: 200px;
}

#contact input, textarea {
    width: 300px;
}

.card {
    width: auto;
    height: auto;
    margin-right: auto;
}

#menu .container {
   display: block;
   height: auto;
}