#about-us {
    height: auto;
}

#about-us img {
  max-width: 200px;
  max-height: 200px;
}

#about-us p {
    font-size: 0.9rem;
    margin-left: 0px;
}

#contact input, textarea {
    width: 300px;
}

.card {
    width: auto;
    height: auto;
    margin-right: auto;
    width: 12rem; height: 14rem;
}

.img-5 {
    width: 190px;
    height: 127px;
}

.card-body h2 {
    font-size: 1.2rem;
    margin-top: 10px: 
}

#menu, .container {
   display: block;
   height: auto;
   padding-bottom: 20px;
}
